@media print {
	@page {
	  size: A4 landscape;
	  margin: 0;
	}
	html, body[style] {
		width: 297mm !important;
		height: 210mm !important
	}
	body[style] {
		background-color: transparent !important;
	}
	section[style] {
		display: block !important;
		break-after: always;
		page-break-after: always;
		opacity: 1 !important;
		position: relative !important;
	   	width: 287mm !important;
	    /*height: 170mm !important;*/
		height: 125mm !important;
		margin: 7mm;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px;
		top: 0 !important;
	}
	body > div:first-child {
		display: none;
	}
	.indicator {
		display: none;
	}
	.blackout {
		background: transparent;
	}
}